<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <% end %>
<% else %>
  no restaurants yet
<% end %>

<a href="restaurants/new">add a restaurant</a>
